#addDescription{
    background: url(../images/customer3.jpg) no-repeat;
    background-size: cover;
}

#viewDescription{
    background: url(../images/customer2.jpg) no-repeat;
    background-size: cover;
}