.btn-file {
    position: relative;
    overflow: hidden;
    text-align: left;
}

.btn-file input[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    /*background: white;*/
    cursor: inherit;
    display: block;
}

.viewItems{
    background: url(../images/secondDisplay2.jpg) no-repeat;
    background-size: cover;
}